@CHARSET "UTF-8";
a.sm:link {
    color: #FF0000;
}

/* visited link */
a.sm:visited {
    color: #00FF00;
}

/* mouse over link */
a.sm:hover {
    color: #FF00FF;
}

/* selected link */
a.sm:active {
    color: #0000FF;
}